name: deploment du frontend de social network

on:
  push:
    branches:
      - main
jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/social-network:0.0.1 .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/social-network:0.0.1 
      
  deploy:
    runs-on: ubuntu-latest
    needs: Build

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          port: 22
          script: |
            docker pull franklamine/social-network:1.0.0
            docker stop social-network || true
            docker rm social-network || true
            docker run -d --restart unless-stopped -p 80:80 --name social-network franklamine/social-network:1.0.0